* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    font-family : Roboto,sans-serif
  }
  
  .game-card {
      height: 100vh;
      font-family: 'Open Sans', monospace;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .mymodal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 600px;
    background-color: rgb(154, 231, 227);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
  }
  
  .number {
    color:rgb(245, 218, 130);
    font-style: italic;
  }